html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.canvas {
  background: black;
  color: white;
  outline-color: white;
  border-color: white;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.tile {
  border: 1px solid white;
  height: 75px;
  width: min-content;
  height: min-content;
  background: black;
  padding: 0.5rem;
  display: grid;
  place-content: center;
}
